/*========================================>
Shared Content - RESPONSIVE
==========================================>*/
body {
    background-color: rgb(196, 255, 227); 
    margin: 0 auto;
    padding: 0;
}
/*- - - - - - >
H e a d e r 
- - - - - - - >*/
header {
    /* Header Container */
    position: fixed;
    top: 0;
    z-index: 15;

    width: 100%;
    height: 4em;
    background-color: white;

    border-bottom-color: lightgray;
    border-bottom-style: inset;
    border-bottom-width: 1px;
}

div.name {
    /* Name Box */
    float: left;
    background-color: teal;
    width: 10em;
    height: 4em;
    
    letter-spacing: 1px;

    transition: background-color 1ms;
}

div.name:hover {
    /* Name Redirect */
    
    background-color: rgba(160, 150, 150, 0.5);
}

    /* Japanese Swaps */
div.name:hover>h1.head {
    opacity: 0;
}
div.name:hover>h1.swap {
    opacity: 1;
}
div.name:hover>p.swap {
    opacity: 1;
}

div.nav{
    /* Navigation div */
    float: right;
    margin-right: -1em;
    width: 21em;
    height: 4em;
}

div.header{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
/* 
@media only screen and (max-width: 640px) {
    div.nav {
        /* Navigation div 
        float: left;
        display: flex;


        margin-left: 0;
        /* padding-left: 9.5em; 
        width: 100%;
        /* text-align: center; 
        /* align-items: center; 
        height: 4em;
        background-color: white;
    }
} */

h1.head { 
    /* Header Name Text */
    color: white;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;

    /* transition: opacity 0.2s; */
}

h1.swap {
    /* Japanese Swap Text */
    color: white;
    font-size: 1.5em;
    margin-top: -50px;

    text-align: center;

    opacity: 0;
    transition: opacity 0ms;
}

p.swap {
    /* Ma - ri - zu Text */
    margin-top: -1.5em;

    text-align: center;
    color: white;
    font-size: 0.8em;

    opacity: 0;
}

a.nav {
    /* Navigation Links */

    font-family: Arial, Helvetica, sans-serif;

    color: darkgray;
    text-align: center;
    text-decoration: none;
    line-height: 4em;  

    padding: 24px;
    
    /* Name Box Transition Time */
    transition: background-color 0.1s;
}

a.nav:hover {
    background-color: rgb(151, 5, 5);
    color: white;
}

p.nav {
    /* Navigation Text */
    color: lightgray;
    display: inline-block;
}


/* Header Media Query 980px */
@media only screen and (max-width: 980px) {
    div.header {
        width: 100%;
        margin-left: 2.5%;
        margin-right: auto;
    }
}
/* Header Media Query 768px */
@media only screen and (max-width: 768px) {
    div.header {
        width: 100%;
        margin-left: 2.5%;
        margin-right: auto;
    }
}

/* Header Media Query 640px */
@media only screen and (max-width: 640px) {
    header {
        position: static;
        padding: 0;
        margin: 0;
    }

    div.header{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }

    h1.swap {
        text-align: center;
    }

    div.name {
        float: left;
        width: 100%;

        padding: 0;
        margin: 0;
    }

    div.nav {
        background-color: white;

        float: left;
        width: 100%;
    }

    div.nav-link-wrapper {
        /* Container for Centering Nav Links */
        text-align: center;
    }
}
/*- - - - - - - - - - - - - ->
P a g e   C o n t e n t
- - - - - - - - - - - - - - ->*/
h1.content { 
    /*Title Text*/
    font-family: 'Times New Roman', Times, serif;
    color: teal;
    margin-top: 0px;
    margin-bottom: 25px;
}

div.content {
    width: 95%;
    font-size: 0.8em;
    background: rgba(255, 255, 255, 0.65);
    opacity: 0.95;

    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 8%; */
    margin-top: 7em;
}

div.bg_char {
    /* position: absolute; */
    top: 32.5em;
    
    z-index: -5;
    position: fixed;
    right: -8em;
    
    margin-left: 62em;
    margin-right: auto;
    margin-top: -30em;
    
    /* Debugging
    border-width: 3px;
    border-color: orangered;
    border-style: groove;
    */
}

/* Page Content Media Query 640px */
@media only screen and (max-width: 640px) {
    div.content {
        margin-top: 7em;
        margin-left: auto;
        margin-right: auto;
    }

}

/* Page Content Media Query 768px */
@media only screen and (max-width: 768px) {
    div.content {
        margin-top: 7em;
        margin-left: auto;
        margin-right: auto;
    }

}

/* Page Content Media Query 980px */
@media only screen and (max-width: 980px) {
    div.content {
        margin-top: 7em;
        margin-left: auto;
        margin-right: auto;
    }

}


/*- - - - - - - - - >
F o o t e r
- - - - - - - - - - >*/
@keyframes runner{
    from {
        left: -4em;
    }
    to {
        left: 100%;
    }
}

#runner {
    /* Girl */
    position: fixed;
    left: -4em;
    bottom: 4.6em;

    height: 4.9em;
    width: 5.5em;

    animation: 240s ease-out 0s 1 runner;
}

footer {
    overflow: hidden;

    width: 100%;
    height: 4.5em;
    margin-top: 30em;
    text-align: center;
    vertical-align: bottom;

    z-index:15;
    position: sticky;
    bottom: 0;
    left: 0;

    color: lightgray;
    background-color: #3e3b3b;
    border-top: 8px solid #4aaaa5;

}

footer.bio {
    margin: 0 auto;
}

footer.port {
    position: fixed;

    margin-top: 0em;
    float: left;
}

footer.contact {
    position: fixed; 

    margin-top: 0em;
}

audio {
    width: 100%;
    height: 3em;
    margin-top: -15px;
}